* {
    margin: 0;
    padding: 0;
}

.home {
    background-color: #fffef1;
    padding: 0 10vw;
}

.karlmolina {
    box-sizing: border-box;
    color: #1A936F;
    word-wrap: break-word;
    margin-top: 0.8em;
    font-size: 13vmin;
    letter-spacing: -0.055em;
    font-family: 'Questrial', sans-serif;
    border-bottom: 0.05em solid #03B5AA;
    margin-bottom: .2em;
}

.sketch-list {
    list-style: none;
    font-family: 'Barlow', sans-serif;
    text-align: left;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .sketch-list {
        font-size: 5vw;
    }
}

@media screen and (max-width: 300px) {
    .sketch-list {
        font-size: 0.95em;
    }
}

.sketch-link {
    text-decoration: none;
    color: #114B5F;
    line-height: 90%;
    padding: 0.25em 0;
    display: block;
}

.sketch-link:hover {
    background-color: rgba(42, 158, 114, 0.15);

}

.sketch-link:active {
    background-color: rgba(42, 158, 114, 0.12);
}

body {
    /*background-color: black;*/
}


#settings {
    position: absolute;
    font-size: 10vmin;
    right: 1vmin;
    top: 1vmin;
}

#settings:hover {
    cursor: pointer;
}

.settings-light {
    color: rgb(236, 236, 236);
}

.settings-light:hover {
    color: rgb(217, 217, 217);
}

.settings-light:active {
    color: rgb(200, 200, 200);
}

.settings-dark {
    color: #161616;
}

.settings-dark:hover {
    color: #2b2b2b;
}

.settings-dark:active {
    color: #414141;
}


@media screen and (max-width: 600px) {
    .settings-dark {
        color: #4e4e4e;
    }

    .settings-dark:hover {
        color: #2b2b2b;
    }

    .settings-dark:active {
        color: #414141;
    }
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
